---
// @ts-ignore
import Tabla from "./tabla.astro"
---

<div class="mt-16 md:mt-0  bg-gray-300" id="prediction">
  <div class="ml-32 mr-32 pt-16 pb-12">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center mb-8">
    Prediccion de consumo para Junio
  </h2>
  <p class="text-lg mt-4 text-slate-600 mt-8 mb-8 text-center ml-32 mr-32">
    El resultado de las predicciones de consumo para junio muestra que Lima lidera con 1,398,589.98 kW, reflejando su alta población y actividad económica. Ayacucho sigue con 732,602.81 kW y Arequipa con 234,939.78 kW. Otros departamentos como Ica y Cajamarca presentan consumos menores, entre 165,741.38 kW y 75,399.28 kW. Los departamentos con menor consumo, como Amazonas, Ucayali y Apurímac, registran proyecciones mucho más bajas, desde 6,950.10 kW a 2,725.30 kW, lo que sugiere menor demanda energética en estas regiones.
  </p>
    <img src="img.jpeg" alt="" class="mb-8">

    
  
    <div class="text-center mb-8">
      Valor más alto: <span class="text-red-700">Lima con 1,398,590 KW.</span>
      <br>
      Valor medio: <span class="text-yellow-200">Ica con 165,741 KW.</span>
      <br>
      Valor más bajo: <span class="text-yellow-100">Junín con 210 KW.</span>
      </div>

  
  <Tabla />
  
</div>
</div>


<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">

</div>
