---

import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 bg-gray-300">

  <div class="py-6 md:order-1 hidden md:block mr-32">
   <img src="https://i.ytimg.com/vi/iT21UbAqALE/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGBsgZShhMA8=&rs=AOn4CLAk9kjGl8zuZWQzgRPVbVci6R0mRA" alt="">
  </div>
  <div class="ml-32">
    <h1
      class="text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Análisis del Consumo Energético en Zonas Concesionadas por ADINELSA (2024)
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Nuestro equipo ha creado una herramienta interactiva para visualizar el consumo energético en las zonas concesionadas por ADINELSA. Aquí puedes explorar datos históricos de consumo (enero-mayo 2024) y obtener predicciones detalladas para optimizar la distribución y uso de energía, apoyando la planificación y el desarrollo sostenible.
    </p>
    
  </div>
</div>
</main>
