<div class="overflow-x-auto">
    <table class="min-w-full text-center border-collapse border border-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-2 px-4 border border-gray-300">Departamento</th>
          <th class="py-2 px-4 border border-gray-300">Enero</th>
          <th class="py-2 px-4 border border-gray-300">Febrero</th>
          <th class="py-2 px-4 border border-gray-300">Marzo</th>
          <th class="py-2 px-4 border border-gray-300">Abril</th>
          <th class="py-2 px-4 border border-gray-300">Mayo</th>
          <th class="py-2 px-4 border border-gray-300">Junio</th>
        </tr>
      </thead>
      <tbody>
        <!-- Amazonas -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">AMAZONAS</td>
          <td class="py-2 px-4 border border-gray-300">7343</td>
          <td class="py-2 px-4 border border-gray-300">6615</td>
          <td class="py-2 px-4 border border-gray-300">6650</td>
          <td class="py-2 px-4 border border-gray-300">6780</td>
          <td class="py-2 px-4 border border-gray-300">7286</td>
          <td class="py-2 px-4 border border-gray-300">6950</td>
        </tr>
        <!-- Ancash -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">ANCASH</td>
          <td class="py-2 px-4 border border-gray-300">9080</td>
          <td class="py-2 px-4 border border-gray-300">8536</td>
          <td class="py-2 px-4 border border-gray-300">8191</td>
          <td class="py-2 px-4 border border-gray-300">8798</td>
          <td class="py-2 px-4 border border-gray-300">8989</td>
          <td class="py-2 px-4 border border-gray-300">8743</td>
        </tr>
        <!-- Apurimac -->
        <tr class="bg-yellow-200">
          <td class="py-2 px-4 border border-gray-300">APURIMAC</td>
          <td class="py-2 px-4 border border-gray-300">1744</td>
          <td class="py-2 px-4 border border-gray-300">1498</td>
          <td class="py-2 px-4 border border-gray-300">1848</td>
          <td class="py-2 px-4 border border-gray-300">2283</td>
          <td class="py-2 px-4 border border-gray-300">2577</td>
          <td class="py-2 px-4 border border-gray-300">2725</td>
        </tr>
        <!-- Arequipa -->
        <tr class="bg-orange-300">
          <td class="py-2 px-4 border border-gray-300">AREQUIPA</td>
          <td class="py-2 px-4 border border-gray-300">222397</td>
          <td class="py-2 px-4 border border-gray-300">227375</td>
          <td class="py-2 px-4 border border-gray-300">219018</td>
          <td class="py-2 px-4 border border-gray-300">230697</td>
          <td class="py-2 px-4 border border-gray-300">234355</td>
          <td class="py-2 px-4 border border-gray-300">234940</td>
        </tr>
        <!-- Ayacucho -->
        <tr class="bg-orange-400">
          <td class="py-2 px-4 border border-gray-300">AYACUCHO</td>
          <td class="py-2 px-4 border border-gray-300">734017</td>
          <td class="py-2 px-4 border border-gray-300">747815</td>
          <td class="py-2 px-4 border border-gray-300">737998</td>
          <td class="py-2 px-4 border border-gray-300">731722</td>
          <td class="py-2 px-4 border border-gray-300">734413</td>
          <td class="py-2 px-4 border border-gray-300">732603</td>
        </tr>
        <!-- Cajamarca -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">CAJAMARCA</td>
          <td class="py-2 px-4 border border-gray-300">72727</td>
          <td class="py-2 px-4 border border-gray-300">71046</td>
          <td class="py-2 px-4 border border-gray-300">73046</td>
          <td class="py-2 px-4 border border-gray-300">77880</td>
          <td class="py-2 px-4 border border-gray-300">72557</td>
          <td class="py-2 px-4 border border-gray-300">75399</td>
        </tr>
        <!-- Huancavelica -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">HUANCAVELICA</td>
          <td class="py-2 px-4 border border-gray-300">30252</td>
          <td class="py-2 px-4 border border-gray-300">30628</td>
          <td class="py-2 px-4 border border-gray-300">29238</td>
          <td class="py-2 px-4 border border-gray-300">32358</td>
          <td class="py-2 px-4 border border-gray-300">34342</td>
          <td class="py-2 px-4 border border-gray-300">34336</td>
        </tr>
        <!-- Ica -->
        <tr class="bg-yellow-200">
          <td class="py-2 px-4 border border-gray-300">ICA</td>
          <td class="py-2 px-4 border border-gray-300">178396</td>
          <td class="py-2 px-4 border border-gray-300">175013</td>
          <td class="py-2 px-4 border border-gray-300">173392</td>
          <td class="py-2 px-4 border border-gray-300">180044</td>
          <td class="py-2 px-4 border border-gray-300">162376</td>
          <td class="py-2 px-4 border border-gray-300">165741</td>
        </tr>
        <!-- Junín -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">JUNIN</td>
          <td class="py-2 px-4 border border-gray-300">205</td>
          <td class="py-2 px-4 border border-gray-300">205</td>
          <td class="py-2 px-4 border border-gray-300">205</td>
          <td class="py-2 px-4 border border-gray-300">211</td>
          <td class="py-2 px-4 border border-gray-300">211</td>
          <td class="py-2 px-4 border border-gray-300">210</td>
        </tr>
        <!-- Lima -->
        <tr class="bg-red-700 text-white">
          <td class="py-2 px-4 border border-gray-300">LIMA</td>
          <td class="py-2 px-4 border border-gray-300">1344702</td>
          <td class="py-2 px-4 border border-gray-300">1341497</td>
          <td class="py-2 px-4 border border-gray-300">1361462</td>
          <td class="py-2 px-4 border border-gray-300">1399659</td>
          <td class="py-2 px-4 border border-gray-300">1373123</td>
          <td class="py-2 px-4 border border-gray-300">1398590</td>
        </tr>
        <!-- Loreto -->
        <tr class="bg-yellow-100">
          <td class="py-2 px-4 border border-gray-300">LORETO</td>
          <td class="py-2 px-4 border border-gray-300">17341</td>
          <td class="py-2 px-4 border border-gray-300">17378</td>
          <td class="py-2 px-4 border border-gray-300">17296</td>
          <td class="py-2 px-4 border border-gray-300">17517</td>
          <td class="py-2 px-4 border border-gray-300">17210</td>
          <td class="py-2 px-4 border border-gray-300">17512</td>
        </tr>
        <tr class="bg-yellow-100">
            <td class="py-2 px-4 border border-gray-300">PASCO</td>
            <td class="py-2 px-4 border border-gray-300">34043</td>
            <td class="py-2 px-4 border border-gray-300">32801</td>
            <td class="py-2 px-4 border border-gray-300">31205</td>
            <td class="py-2 px-4 border border-gray-300">35487</td>
            <td class="py-2 px-4 border border-gray-300">35335</td>
            <td class="py-2 px-4 border border-gray-300">35355</td>
          </tr>
          <!-- Ucayali -->
          <tr class="bg-yellow-100">
            <td class="py-2 px-4 border border-gray-300">UCAYALI</td>
            <td class="py-2 px-4 border border-gray-300">5260</td>
            <td class="py-2 px-4 border border-gray-300">5260</td>
            <td class="py-2 px-4 border border-gray-300">5260</td>
            <td class="py-2 px-4 border border-gray-300">5241</td>
            <td class="py-2 px-4 border border-gray-300">5245</td>
            <td class="py-2 px-4 border border-gray-300">5245</td>
          </tr>
      </tbody>
    </table>
  </div>
  